@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  
    background-image: url(./img/fondo\ ghibli.jpg);
    background-size: 100vw 100vh;
   /*  background-repeat: no-repeat; */
  }
  .header{
    /* margin-bottom: 60px; */
    width: 100%;
    height: 100px;
    background: #18191F;
     /*  position:fixed;
    top: 0;
    left: 0;   */
  }
  .capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(248 248 248 / 49%);
    z-index: -1;
    top: 0;
    left: 0;
  }
   .head{
    height: 100%;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    /* flex-grow: 2; */
   }
   .apareceInf{
   /*  position: fixed; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   }
   .btn_menu {
    max-width: 50px; 
    display: flex;
    height: 100%;
    width: 8%;
    justify-content: center;
    align-content: center;
     
  }
  .logo-head {
    display: flex;
    height: 100%;
    width: 92%;
    justify-content: center;
    align-items: center;
  }
  .icon-menu {
    height: 100%;
    display: flex;
    color: white;
    justify-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
      font-size: 25px;
      cursor: pointer;
  }
   .logo-header{
    height: 70px;
    width: 300px;
  }
  /*menu lateral*/
  #btn-menu{
    display: none;
  }
  .container-menu{
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height:100vh ;
    width:100% ;
    transition: all 500ms ease;
    opacity: 0;
      visibility: hidden;
    z-index:1;
  }
    #btn-menu:checked ~ .container-menu{
    opacity: 1; 
    visibility: visible;
}
  .cont-menu{
    width: 100%;
    max-width:315px ;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
     transition: all 500ms ease;
     transform: translateX(-100%);
     z-index:1;
     font-family: 'Montserrat Alternates', sans-serif;
  }
  #btn-menu:checked ~ .container-menu .cont-menu{
          transform: translateX(0%);
      }
  .cont-menu nav{
          transform: translateY(15%);
  }
  .cont-menu nav a{
          display: block;
          text-decoration: none;
          padding: 30px;
          color: #c7c7c7;
          border-left: 5px solid transparent;
          transition: all 400ms ease;
  }
  .cont-menu nav a:hover{
          border-left: 5px solid #c7c7c7;
          background: #1f1f1f;
      }
  .cont-menu label{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white;
    font-size: 25px;
  
  }
  .buscador{
  display: flex;
  
  }
  
  .container__general{
    height:100%;

  }
  
  .footer{
    margin-top: 60px;
    width: 100%;
    height: 100px;
    background: #18191F;
  }
  .diplayBuscador{
    display: flex;
  }
  .option{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    height: 35px;
  }
  .inputBuscador{
    width: 176px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    height: 35px;
    margin: 10px 0px;
  }
  .buttonBuscador{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: solid #F39F9F;
    transition:  background-color .5s;
    height: 35px;
    margin: 10px;
    width: 80px;
    cursor: pointer;
    background: #FDD9D9;
  }
  .buttonBuscador:hover{
    background-color:#F39F9F;
  }
  .score{
    font-size:20px ;
    margin: 10px 0px;
  }
  .inputRangeScore{
    width: 245px;
  }


 /*  template card general */

 .container__general{
    height: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    padding: 20px;
    padding-bottom: 40px;
      /* margin: auto; */
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
  }   
  
  .card__Father{
    margin: 10px;
    perspective: 800;
    -webkit-perspective: 800;
  }
  
  .cardLatter{
    
      width: 200px ;
      height: 285px;
      background: #F29720;
  /*  border: solid; */
   position: relative;
   transform-style: preserve-3d;
       transition: .7s ease;
         -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
      box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
  
   }
   .cardLatter__frond,
   .cardLastter__back{
     width:100% ;
     height: 100%;
     position: absolute;
     left:0;
     top: 0;
    -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
   }
   .cardLastter__back{
     transform: rotateY(180deg);
     display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
     align-items: center;
      color: #474747;
      background: #EFF3F5;
      padding: 20px;
      font-size: 10px;
      
      
   }
   .card__Father:hover .cardLatter{
      transform: rotateY(180deg);
  
   }
   

.box{
    margin: 20px;
   height: 100%;
   width: 100%;
   
   border: solid white; 
   padding: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family: 'Montserrat Alternates', sans-serif;
}


/*botones de la carta por busqueda*/
.botonPelicula{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.boton{
 font-family: 'Montserrat Alternates', sans-serif;
    margin: 5px;
    width: 30%;
   /*   display: flex;  */
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    border-radius: 10px;
    border: solid #F39F9F;
    background-color: #FDD9D9;
    cursor: pointer;
    transition:  background-color .5s;
}
.boton:hover{
  background-color:#F39F9F ;

}

.escritoBtn{
  font-size: 20px;
}


/*carta principal de la busqueda por nombre*/
.prueba{
  height: 100%;
  width: 100%;
}
.cardDescription__main{
    margin: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
  /*   margin: 50px; */
    padding: 20px;
    background: #A8CEF5;
    height: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
}


.cardDecription__poster{
    height: 100%;
    margin: 10px;
    width: 90%;
    font-size: 14px;
    max-width: 400px;
    
    background: white;
    padding: 15px;
}

.cardTitle{
  text-align: center;
  padding: 10px;
}

.cardDescription{
      padding: 10px;
}

.cardSpecs{
  padding: 10px;
}
.poster{
  justify-content: center;
  
}

.cardImg{  
  margin: 10px;
}
/*card locations*/
.containerLocations{
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.locationsImg{
 
  position: relative;
  /* z-index: 1; */
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}
.imgLocations{
  position: relative;
height:150px ;
width:250px;
}
.cardLocations{
  /* background: #EFF3F5;
  border: solid; */
  width: 208px;
  position: relative;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  transition: all 300ms;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardLocations:hover{

   box-shadow: 1px 1px 20px -10px #20202049;
}
.cardLocations:hover .infoDescription__locations{
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;

}

.infoDescription__locations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 120px;
  width: 250px;
  margin-top: -125px;
  color: #474747;
  background: #EFF3F5;
  padding: 15px;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}

.imgLocations:hover {
border: solid cadetblue 6px
}

.titleLocations {
  
  background: azure;
  border-radius: 6px;
  border: dotted;
  display: flex;
  align-items: center;
  justify-content: center; 
}

/*cards people*/

.containerPeople{
  max-width: 1200px;
  padding: 20px;
  /* padding-bottom: 40px; */
  margin: auto;
  /* margin-top: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
}
.peopleImg{
  height: 280px;
  width: 200px;
 /*  position: relative; */
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}

.cardPeople{
  /* background: #EFF3F5;
  border: solid; */
  width: 208px;
  position: relative;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  transition: all 300ms;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.cardPeople:hover{

   box-shadow: 1px 1px 20px -10px #20202049;
}
.cardPeople:hover .infoDescription__people{
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;

}

.infoDescription__people{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 200px;
  height:100%;
  color: #474747;
  background: #EFF3F5;
  padding: 20px;
  margin-top: -240px;
  transition: all 400ms cubic-bezier(0.5,0,0,1);
  border-radius: 20px;
}

img.imgPeople {
  position: relative;
  border: solid white 4px;
  height: 280px;
  width: 200px;
}
.imgPeople:hover {
border: solid cadetblue 6px
}
.title {
  font-size: 10px;
  height: 50px;
  width: 200px;
  margin: 10px 0px;
  background: #F39F9F;
  border-radius: 6px;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center; 
}


/*carta principal de la busqueda por Director*/

.cardDescriptionDirector__main{
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
/*   margin: 50px; */
  padding: 20px;
  background: #A8CEF5;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

.boxDirector{
margin: 30px;
border: solid;
height: 100%;
font-family: 'Montserrat Alternates', sans-serif;
}

.cardDecriptionDirector__poster{
  height: 100%;
  margin: 10px;
  width: 90%;
  font-size: 14px;
  max-width: 400px;
  
  background: white;
  padding: 15px;
}

.cardTitleDirector{
text-align: center;
padding: 10px;
}

.cardDescriptionDirector{
    padding: 10px;
}

.cardSpecsDirector{
padding: 10px;
}
.posterDirector{
justify-content: center;

}

.cardImgDirector{  
margin: 10px;
}



/*carta principal de la busqueda por Productor*/

.cardDescriptionProducer__main{
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
/*   margin: 50px; */
  padding: 20px;
  background: #A8CEF5;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

.boxProducer{
  height: 100%;
  border: solid;
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.cardDecriptionProducer__poster{
  /* height: 100%; */
  margin: 10px;
  width: 90%;
  font-size: 14px;
  max-width: 400px;
  
  background: white;
  padding: 15px;
}

.cardTitleProducer{
text-align: center;
padding: 10px;
}

.cardDescriptionProducer{
    padding: 10px;
}

.cardSpecsProducer{
padding: 10px;
}
.posterProducer{
justify-content: center;

}

.cardImgProducer{  
margin: 10px;
}



/*carta principal de la busqueda por Score*/

.cardDescriptionScore__main{
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
/*   margin: 50px; */
  padding: 20px;
  background: #A8CEF5;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

.boxScore{
  height: 100%;
  border: solid;
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.cardDecriptionScore__poster{
  height: 100%;
  margin: 10px;
  width: 90%;
  font-size: 14px;
  max-width: 400px;
  
  background: white;
  padding: 15px;
}

.cardTitleScore{
text-align: center;
padding: 10px;
}

.cardDescriptionScore{
    padding: 10px;
}

.cardSpecsScore{
padding: 10px;
}
.posterScore{
justify-content: center;

}

.cardImgScore{  
margin: 10px;
}



/*carta principal de la busqueda por Year*/

.cardDescriptionYear__main{
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
/*   margin: 50px; */
  padding: 20px;
  background: #A8CEF5;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

.boxYear{
height: 100%;
border: solid;
margin: 20px;
font-family: 'Montserrat Alternates', sans-serif;
}

.cardDecriptionYear__poster{
  height: 100%;
  margin: 10px;
  width: 90%;
  font-size: 14px;
  max-width: 400px;
  
  background: white;
  padding: 15px;
}

.cardTitleYear{
text-align: center;
padding: 10px;
}

.cardDescriptionYear{
    padding: 10px;
}

.cardSpecsYear{
padding: 10px;
}
.posterYear{
justify-content: center;

}

.cardImgYear{  
margin: 10px;
}


/*carta principal de la busqueda porSeeker*/

.cardDescriptionSeeker__main{
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
/*   margin: 50px; */
  padding: 20px;
  background: #A8CEF5;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

.boxSeeker{
height: 100%;
border: solid;
margin: 20px;
font-family: 'Montserrat Alternates', sans-serif;
}

.cardDecriptionSeeker__poster{
  height: 100%;
  margin: 10px;
  width: 90%;
  font-size: 14px;
  max-width: 400px;
  
  background: white;
  padding: 15px;
}

.cardTitleSeeker{
text-align: center;
padding: 10px;
}

.cardDescriptionSeeker{
    padding: 10px;
}

.cardSpecsSeeker{
padding: 10px;
}
.posterSeeker{
justify-content: center;

}

.cardImgSeeker{  
margin: 10px;
}