*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
.contenido{
  /*   position: fixed; */
    height: 100vh;
    width: 100vw;
    display: block
    
}
.imagenHeader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(./img/fondo\ ghibli.jpg) ;
    margin: left 80px; ;
}

.logo-header{
   /*  margin-top: 4px;
    margin-left: 598px; */
    height:68px;
    width: 300px;
 
}
 .flexMain{
    justify-content: center;
} 
.btnOpciones{
/*     height: 40px;
    border-radius: 20px;
    border-color: #F39F9F;
    width:180px ;
    padding: 5px;
    margin-top:30px ;
    background-color: #F39F9F;
    margin-left:2px;
    transition: 1s ease all;/*utilizar despues*/ 
}
/* .botones{/*contiene
    margin-left:55px;
    margin-top:110px ;
    width: 300px;
    height: 400px;
    background-color:white;
    padding: 10px;
    border-radius: 20px;
} */

/* .flexMain{
   
  /*   width: 1508px;
    height: 556px; */
   /*  background-color: cadetblue; 
    display: flex;
} */
.cabeza{
   /*  width: 100%; */
    width: 100%;
    height: 80px;
    background-color: #18191F ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pieDePagina{
    width:100%;
    height: 80px ;
    background-color:#18191F;
    margin-top: 65px ;
}
.apareceInf{
    width: 100%;
   /*  margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px; */
   /*  width: 1180px; */
    height: 570px ; 
    border:8px solid white ;
    display: flex;
    flex-wrap: wrap;

}
i.fas.fa-align-justify{
    background-color: white;
}
.icon_menu{
    margin-left: 1.4%;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    /* background: cyan;  */
    transform: translateX(10px);
}
.icon_menu i{
    font-size: 20px;
    cursor:pointer;
    position: absolute;
}
.menu__lado{
    margin-top: 80px;
    width: 300px;
    height:100%;
    background-color:rgba(43, 43, 42, 0.877);
    position: fixed;
    top: 0;
    left: 0;
    color:white;
    font-size: 18px;
    z-index: 300;

    overflow:hidden ;
    overflow-y:scroll ;
   /*  border-right:20px solid #F39F9F; */
}
/* ocultar scroll */

.menu__lado::-webkit-scrollbar{
    display: none;
}

.menu__lado{
-ms-overflow-style: none;
scrollbar-width: none;

}
.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.name__page i{
    width: 20px; 
    margin-right:20px ;
}
.options-menu{
    padding: 20px 30px;
    /* position: absolute;
    top:80px; */
}

.option-menu a{
    background-color: #ffffffb2;
    display: block;
    position: relative;
    transition: color 300ms;
}
.option-menu a:hover {
   color: white;
}

.filtrado{
    padding: 20px 30px;

}
.filtrado a{
    color:  #ffffffb2 ;
    display: block;
    position: relative;
    transition: color 300ms;
}

.filtrado a:hover{
    color: white;
}

.orden{
    padding: 20px 30px;
}
.orden a{
    color: #ffffffb2 ;
    display: block;
    position: relative;
    transition: color 300ms;
}

.orden a:hover{
    color: white;
}

.options-menu .option{
    padding:12px 0px;
    cursor: pointer;
}
.options-menu .option h4{
    font-weight: 300;
   
    cursor: pointer;
}

.clasificacion{
    font-weight: 1000;
}

 a.seleccionado{
    color:#ffff;
 /* TALVEZ VALLAS A USARLO */
} 

 .seleccionado:before{
    content:'' ;
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top:10%;
    left: -30px;
 }
/*  clases para javaScript */

.contenido_move{/*contenido o body*/
    margin-left: 300px;
}

.menu__lado_move{
  width: 300px;  
}

.menu{
    position: relative;
    color: white;
    font-size: 13px;
    bottom: 20px;

}


/* .grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px.1fr));
}
.loader{
    display: block;
    margin:auto;
} */
/* .icon-menu{
    width: 4rem;
    height: 4rem;
    float: left;
    position: relative;
    border: 0.9rem solid transparent;
    cursor: pointer;
}
.icon-menu span{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    left: 0;
    transition: rotate(0deg);
    opacity: 1;
} */


/*.poster{
    width: 200px;
    height: 276px;
}

 200 276 */
