*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
.contenido{
    height: 100vh;
    width: 100vw;
    display: block
    
}
body{
    background-image: url(./img/fondo\ ghibli.jpg) ;
    
}

.logo-header{
   /*  margin-top: 4px;
    margin-left: 598px; */
    height:68px;
    width: 300px;
 
}
.flexMain{
    display: inline-block;
}
.btnOpciones{
    height: 40px;
    border-radius: 20px;
    border-color: #F39F9F;
    width:180px ;
    padding: 5px;
    margin-top:30px ;
    background-color: #F39F9F;
    margin-left:2px;
    transition: 1s ease all;/*utilizar despues*/
}
.botones{/*contiene*/
    margin-left:55px;
    margin-top:110px ;
    width: 300px;
    height: 400px;
    background-color:white;
    padding: 10px;
    border-radius: 20px;
}

.flexMain{
   
  /*   width: 1508px;
    height: 556px; */
   /*  background-color: cadetblue; */
    display: flex;
}
.cabeza{
   /*  width: 100%; */
    height: 75px;
    background-color: #18191F ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pieDePagina{
    width:100%;
    height: 75px ;
    background-color:#18191F;
    margin-top: 65px ;
}
/*.apareceInf{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px;*/
   /*  width: 1180px; */
  /*   height: 570px ; */
   /* border:8px solid white ;
    display: flex;
    flex-wrap: wrap;
}*/
.apareceInf{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 1016px; 
    /*height: 1120px ;*/ 
    border:8px solid white ;
    display: flex;
    flex-wrap: wrap;

}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px.1fr));
}
.loader{
    display: block;
    margin:auto;
}
/* .icon-menu{
    width: 4rem;
    height: 4rem;
    float: left;
    position: relative;
    border: 0.9rem solid transparent;
    cursor: pointer;
}
.icon-menu span{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    left: 0;
    transition: rotate(0deg);
    opacity: 1;
} */


/*.poster{
    width: 200px;
    height: 276px;
}

 200 276 */

 .clase{
    width: 200px;
    height: 276px;
}